.menu {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  background-color: #a3a3a32d;

  &__color {}

  &__width {}

  &__opacity {}

  &__actions {}

}