.imageItem {
  width: 25%;
  padding: 10px;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  &__info {
    text-align: center;
    background: var(--card-blue);
    border-radius: 0 0 10px 10px;
    padding: 5px 0;

    p {
      margin: 0;
    }
  }
}