.button {
	width: 40px;
	height: 40px;

	cursor: pointer;

	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	background-color: var(--card-blue);

	img {
		display: block;
		margin: auto;
	}
}
